# 로컬 개발 환경 (Docker PostgreSQL)
jasypt:
  encryptor:
    password: local

server:
  port: 8443
  ssl:
    key-store: classpath:localhost.p12
    key-store-password: changeit
    key-store-type: PKCS12

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/global_apps
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

logging:
  level:
    com.daou.dop.global.apps: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.slack.api: DEBUG
