.container {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radioLabel {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.radioInput {
  margin-right: 8px;
  cursor: pointer;
}
